@inject IHttpContextAccessor context

@{
    ViewData["Title"] = "Home Page";
}
@if (User.IsInRole("Admin"))
                        {
<div class="jumbotron">
    <br />
    <h1> Welcome! </h1>
    <br />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admin Dashboard </h2>
        
    </div>
   
</div>
}else
{
    <div class="jumbotron">
        <br />
        <h1> Welcome! </h1>
        <br />
    </div>

    <div class="row">
        <div class="col-md-8">
            <h2>It's your's Dashboard </h2>

        </div>

    </div>
}