@model EventStreamingPlatform.Models.Episode

@{
    ViewData["Title"] = "Create";
}


<br />
<h3>Create episode</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoLink" class="control-label"></label>
                <input asp-for="VideoLink" class="form-control" />
                <span asp-validation-for="VideoLink" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label asp-for="PhotoLink" class="control-label"></label>
                <input asp-for="PhotoLink" class="form-control" />
                <span asp-validation-for="PhotoLink" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="RealiseDate" class="control-label"></label>
                <input asp-for="RealiseDate" class="form-control" />
                <span asp-validation-for="RealiseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                <select asp-for="SeasonId" class="form-control form-select" asp-items="ViewBag.SeasonId">
                    <option value="">-- Select Season --</option>
                </select>
                <span asp-validation-for="SeasonId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="SerieId" class="control-label"></label>
                <select asp-for="SerieId" class="form-control form-select" asp-items="ViewBag.SerieId">
                    <option value="">-- Select Serie --</option>
                </select>
                <span asp-validation-for="SerieId" class="text-danger" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
