@model EventStreamingPlatform.Models.Language

@{
    ViewData["Title"] = "Details";
}
<br />
<h3>Details </h3>

<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanguageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISO_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISO_Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LanguageId" class="btn btn-dark">Edit</a> |
    <a asp-action="Index" class="btn btn-primary"> Back to List</a>
</div>
